form label {
  font-weight: bold;
}

form textarea,
form input[type=url] {
  font-family: "SF Mono", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

form .form-control:disabled {
  cursor: default;
  background: #efefef;
  color: black;
}

#json {
  font-size: 0.7em;
}

/* disable bootstrap animations */
.form-control, .btn {
  transition: none;
}
